@model LoggedUser
<div class="text-left">
    <h1 class="display-4 text-secondary">Login</h1>
</div>
<div class="row">
    <form class="col-5" asp-action="LogUser" asp-controller="Home" method="POST">
        <div class="form-group">
            <fieldset>
                <span asp-validation-for="Email" class="text-danger"></span>
                <br>
                <label class="control-label">Email Address</label>
                <input class="form-control" asp-for="Email" type="email">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <span asp-validation-for="Password" class="text-danger"></span>
                <br>
                <label class="control-label">Password</label>
                <input class="form-control" asp-for="Password" type="text">
            </fieldset>
        </div>
        <button class="btn btn-secondary btn-sm" type="submit">Submit</button>
    </form>
    <div class="col">
        <a href="/">Need to Register?</a>
    </div>
</div>